<launch>
  <node name="bb_pigpio_node" pkg="bb_pigpio" type="bb_pigpio_node" launch-prefix="sudo -E">
    <rosparam command="load" file="$(find bb_pigpio)/config/bb_encoder.yaml" />
  </node>
  <!-- bb_pigpio killer-->
  <node name="bb_pigpio_killer_node" pkg="bb_pigpio" type="bb_pigpio_killer_node"/>
</launch>
