<launch>

  <node name="map_recorder" pkg="rosbag"
      type="record" args="
      --topic /mobile_base_controller/odom
              /scan
              /tf
              /tf_static_aggregated"
      output="screen">
  </node>

  <node name="tf_static_aggregator" pkg="tf_static_aggregator" type="TfStaticAggregator.py" />

</launch>
