<launch>

  <!-- Load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find bb_description)/urdf/beuzebot.urdf" />

  <!-- Load hardware interface -->
  <node name="bb_hardware_interface" pkg="bb_control" type="bb_hw_main" />

  <!-- Load controller settings -->
  <rosparam file="$(find bb_control)/config/controllers.yaml" command="load" />

  <!-- Load controller manager -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" args="spawn joint_state_controller mobile_base_controller" />

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
